body{
    background-color:#e0e0e0;
}

.nav-wrapper{
    background-color:#212121;
}

.nav-wrapper a{
    font-size: 18px;
    margin-right: 20px;
}


.page-footer{
    background-color:#212121;
  margin-top: 90px;
    height: 70px;
    width: 100%;
    position: static;
    
}

#top-movies{
    font-size: 20px;
    text-align: left;
    margin-left: 40px;
}

input#myInput{
    width: 20%;
    height: 40px;
    border:grey solid 2px;
    margin-top:10px;
    float:right;
    margin-right: 20px;
    text-align: center;
}

#page2,#page3{
    display:none
}

#instagram-icon, #facebook-icon, #wsp-icon{
    width: 45px;
    height: 45px;
   
    
}
img.responsive-img{
    width: 150px;
    height: 100000px;
}
/*img.imagen-movies.responsive-img{
    width: 200px;
    height: 230px;

}
div.card{
    width: 200px;
    height: 330px;
}*/

div#icons-media{
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    margin-bottom: 5px;
}
.link{
    color: cadetblue;
    cursor: pointer;
}

img.responsive-img, img{
    width: 250px;
    height: 300px;
}