body{
    background-color:#e0e0e0;
}

.nav-wrapper{
    background-color:#212121;
}

.nav-wrapper a{
    font-size: 18px;
    margin-right: 20px;
}


.page-footer{
    background-color:#212121;
  margin-top: 90px;
    height: 70px;
    width: 100%;
    position: static;
    
}

#top-movies{
    font-size: 20px;
    text-align: left;
    margin-left: 40px;
}

input#myInput{
    width: 20%;
    height: 40px;
    border:grey solid 2px;
    margin-top:10px;
    float:right;
    margin-right: 20px;
    text-align: center;
}
img.responsive-img{
    width: 250px;
    height: 250px;
}

#page2{
    display:none
}

#instagram-icon, #facebook-icon, #wsp-icon{
    width: 50px;
    height: 50px;
    display:inline-block;
    margin:auto;

}