body{
    background-color:#e0e0e0;
}

.nav-wrapper{
    background-color:#212121;
}

.nav-wrapper a{
    font-size: 18px;
    margin-right: 20px;
}


.page-footer{
    background-color:#212121;
  margin-top: 90px;
    height: 70px;
    width: 100%;
    position: static;
    
}

#top-movies{
    font-size: 20px;
    text-align: left;
    margin-left: 40px;
}

input#myInput{
    width: 20%;
    height: 40px;
    border:grey solid 2px;
    margin-top:10px;
    float:right;
    margin-right: 20px;
    text-align: center;
}
img.responsive-img{
    width: 250px;
    height: 250px;
}

#page2{
    display:none
}

#instagram-icon, #facebook-icon, #wsp-icon{
    width: 45px;
    height: 45px;
}

div#icons-media{
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    margin-bottom: 5px;
}

#movie-1{
    height: 300px;
}

div.select-wrapper{
    width: 200px;
    margin-left: 70px;
    margin-right: 30px;
};

div.card{
    width: 250px;
    height: 370px;
}

#info-movies{
    border: grey solid 2px;
    width: 600px;
    height: 315px;
}


#movies-popular{
    font-size: 28px;
}

#comments-tittle{s
    font-size: 25px;
    margin-top: 40px;
    border: grey solid 1px;
}
#comments-text
